@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<form role="form">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Username" name="username" type="text" autofocus="" id="username">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" id="password">
        </div>
        <div class="checkbox">
            <label>
                <input name="remember" type="checkbox" value="Remember Me">Remember Me
            </label>
        </div>
        <a href="javascript:void(0)" id="login" class="btn btn-primary">Login</a>
        <a href="http://localhost:8888/register" style="float: right; margin: 1%">Register here</a>
    </fieldset>
</form>

<script type="text/javascript">

    function validate() {        
        var username = $('#username').val();
        var password = $('#password').val();     

        var error = '';      

        if (username == '') {
            error = "Please input username";
            $('#username-error').html(error);
            return false;

        }
        if (password == '') {
            error = "Please input password";
            $('#password-error').html(error);
            return false;
        }
      
        return true;

    }
    $('#login').on('click', function () {
        if (!validate()) {
            return;

        }
        $('#wait').show();
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url: 'http://localhost:8888/api/user/login',
            type: 'POST',
            data: { Username: username, Password: password },
            success: function (data) {
                if (data.code == 1000) {
                    localStorage.setItem("token", data.data.access_token);
                    localStorage.setItem("expried", data.data.expires_in);
                    localStorage.setItem("login_time", $.now());

                    window.location = "http://localhost:8888/home"
                } else {
                    $('#error').html(data.message);
                    $('#error').show();
                }

            },
            error: function (xhr) {
                console.log(xhr.message);
            }

        })
    });
</script>