<div class="panel panel-default">
    <div class="panel-heading"><a href="http://localhost:8888/salebillview" class="btn btn-primary">Back</a></div>
    <div class="panel-body">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input class="form-control" placeholder="Customer Name" id="name">
                    <span id="error" style="color: red"></span>
                </div>
                <div class="form-group">
                    <label>Customer Phone</label>
                    <input class="form-control" placeholder="Customer Phone" id="phone">
                    <span id="phone-error" style="color: red"></span>
                </div>
                <div class="form-group">
                    <label>Book Time</label>
                    <input class="form-control" type="date" placeholder="Booktime" id="booktime">
                    <span id="booktime-error" style="color: red"></span>
                </div>

                <button type="button" class="btn btn-primary" id="submit">Book</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function compute_time(time1, time2) {
        return (time1 - time2) / 1000;
    }
    function validate() {
        var name = $('#name').val();
        var phone = $('#phone').val();
        var book = $('#booktime').val();

        var error = '';
        if (name == '') {
            error = 'Please input name';
            $('#error').html(error);
            return false;
        }

        if (phone == '') {
            error = 'Please input phone number';
            $('#phone-error').html(error);
            return false;
        }

        if (book == '') {
            error = 'Please input book time';
            $('#phone-error').html(error);
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        var token = localStorage.getItem("token");
        var expired = localStorage.getItem("expired");
        var login_time = localStorage.getItem("login_time");
        var d = $.now();
        var diff = compute_time(d, login_time);
        if (diff > 3600) {
            token = '';

        }
        if (token == '') {
            window.location = 'http://localhost:8888/login'

        }

        var header_string = 'Bearer ' + token;       
        var url = $(location).attr("href");
        var id = url.substr(url.lastIndexOf('/') + 1);
        $('#submit').on('click', function () {
            if (!validate()) {
                return;

            }
            var customerName = $('#name').val();
            var customerPhone = $('#phone').val();
            var bookAt = $('#booktime').val();
            $.ajax({
                url: 'http://localhost:8888/api/table/booktable/'+id,
                type: 'PUT',
                headers: { "Authorization": header_string },
                data: { CustomerName: customerName, CustomerPhone: customerPhone, BookAt: bookAt, TableId: id },
                success: function (data) {
                    if (data.code == 1000) {
                        alert('Successfully');
                        window.location = "http://localhost:8888/tableview";

                    } else {
                        $('#danger').html(data.message);
                        $('#danger').show();

                    }

                }
            })
    });



    });
</script>
