<div class="panel panel-default">
    <div class="panel-heading"><a href="http://localhost:8888/tableview" class="btn btn-primary">Back</a></div>
    <div class="panel-body">
        <div class="col-md-6">
            <form role="form" id="frm">
                <div class="form-group">
                    <label>Number of seat</label>
                    <input class="form-control" placeholder="Number of seat" id="seat" type="number"  name="NumberOfSeat">
                    <span id="seat-error" style="color: red"></span>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" placeholder="Location" id="location" type="text" name="LocationTable">
                    <span id="location-error" style="color: red"></span>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input class="form-control" placeholder="Type" id="type" type="text" name="TypeTable">
                    <span id="type-error" style="color: red"></span>
                </div>

                <button type="button" class="btn btn-primary" id="submit">Update</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function compute_time(time1, time2) {
        return (time1 - time2) / 1000;
    }
    function validate() {
        var name = $('#name').val();
        if (name == '') {
            var error = 'Please input name';
            $('#error').html(error);
            return false;
        }
        return true;
    }
    $(document).ready(function () {
        var token = localStorage.getItem("token");
        var expired = localStorage.getItem("expired");
        var login_time = localStorage.getItem("login_time");
        var d = $.now();
        var diff = compute_time(d, login_time);
        if (diff > 3600) {
            token = '';

        }
        if (token == '') {
            window.location = 'http://localhost:8888/login'

        }
        var header_string = 'Bearer ' + token;
        var url = $(location).attr("href");
        var id = url.substr(url.lastIndexOf('/') + 1);

        $.ajax({
            url: 'http://localhost:8888/api/table/get/'+id,
            type: 'GET',
            headers: { "Authorization": header_string },
            success: function (data) {
                if (data.code == 1000) {
                    $('#seat').val(data.data.numberOfSeat);
                    $('#location').val(data.data.locationTable);
                    $('#type').val(data.data.typeTable);
                }
            },
            error: function (xhr) {
                console.log(xhr.message);

            }

        })

        $('#submit').on('click', function () {
            if (!validate()) {
                return;

            }
          
            $.ajax({
                url: 'http://localhost:8888/api/table/update/'+id,
                type: 'PUT',
                headers: { "Authorization": header_string },
                data: $('#frm').serialize(),
                success: function (data) {
                    if (data.code == 1000) {
                        $('#success').html('Successfully');
                        $('#success').show();
                        setTimeout(function () { window.location = "http://localhost:8888/tableview"; }, 1000);
                    } else {
                        $('#danger').html(data.message);
                        $('#danger').show();

                    }

                }
            })
    });



    });
</script>
