<div class="panel panel-default">
    <div class="panel-heading"><a href="http://localhost:8888/tableview/create" class="btn btn-primary">Create</a></div>
    <div class="panel-body">
        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">Order</th>        
                    <th data-field="thumbnail" data-sortable="true">Thumbnail</th>  
                    <th data-field="num_of_seat" data-sortable="true">Num of seat</th>
                    <th data-field="location" data-sortable="true">Location</th>
                    <th data-field="name" data-sortable="true">Type</th>
                    <th data-field="status" data-sortable="true">Status</th>                  
                    <th data-field="action" data-sortable="true">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer Info</h4>
            </div>
            <div class="modal-body" id="content">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function compute_time(time1, time2) {
        return (time1 - time2) / 1000;
    }
    $(document).ready(function () {
        var token = localStorage.getItem("token");
        var expired = localStorage.getItem("expired");
        var login_time = localStorage.getItem("login_time");
        var d = $.now();
        var diff = compute_time(d, login_time);
        if (diff > 3600) {
            token = '';

        }
        if (token == '') {
            window.location = 'http://localhost:8888/login'

        }
     
        var header_string = 'Bearer ' + token;
        $.ajax({
            url: 'http://localhost:8888/api/table/list',
            type: 'GET',
            headers: { "Authorization": header_string },
            success: function (data) {
                if (data.code == 1000) {
                    var html = ''
                    $.each(data.data, function (i, item) {
                        i = i + 1;
                        var available = 'In used';
                        var btn_book = '<button class="btn btn-primary book" type="button" data-status="1" data-id="' + item.id + '">Return</button>';
                        btn_book += '  <button class="btn btn-primary c_info" type="button" data-id="' + item.id + '">View Customer Info</button>'
                        if (item.available == 1) {
                            available = 'Available';
                            btn_book = '<a href="http://localhost:8888/tableview/booktable/' + item.id + '"class="btn btn-primary" >Book</a>';
                        }
                        html += '<tr>' +
                            '<td> ' + i + '</td>' +
                            '<td> <img src="/images/' + item.thumbnail + '" width="123" /></td>' +
                            '<td> ' + item.numberOfSeat + '</td>' +
                            '<td> ' + item.locationTable + '</td>' +
                            '<td> ' + item.typeTable + '</td>' +
                            '<td> ' + available + '</td>' +
                            '<td> <a href="http://localhost:8888/tableview/edit/' + item.id + '" class="btn btn-primary">Edit</a>' +
                            ' <button type="button" class="delete btn btn-danger" id="delete" data-id="' + item.id + '">Delete</button>  ' + btn_book +'</td>' +
                           
                            '</tr>';

                    });
                    $('tbody').html(html);
                        
                    $('.c_info').on('click', function () {
                        var id = $(this).data('id');
                        $.ajax({
                            url: 'http://localhost:8888/api/table/getcustomer/' + id,
                            type: 'GET',
                            headers: { "Authorization": header_string },
                            success: function (data) {
                                if (data.code == 1000) {
                                    var html = '';
                                    html += '<p>Customer Name: ' + data.data.customerName + '<p>';
                                    html += '<p>Customer Phone: ' + data.data.customerName + '<p>';
                                    html += '<p>Book At: ' + data.data.bookAt + '<p>';
                                    $('#content').html(html);
                                    $('#myModal').modal();
                                } else {
                                    $('#danger').html(data.message);
                                    $('#danger').show();

                                }

                            },
                            error: function (xhr) {
                                console.log(xhr.message);

                            }
                        })

                    })
                    $('.delete').on('click', function () {
                        if (!confirm('Are you sure?')) {
                            return;

                        }
                        var id = $(this).data('id');
                        var del = $(this);
                        console.log(id);
                        $.ajax({
                            url: 'http://localhost:8888/api/table/delete/'+id,
                            type: 'DELETE',
                            headers: { "Authorization": header_string },
                            success: function (data) {
                                if (data.code == 1000) {
                                    $('#success').html('Successfully');
                                    $('#success').show();
                                    del.parent().parent().remove();
                                } else {
                                    $('#danger').html(data.message);
                                    $('#danger').show();

                                }

                            },
                            error: function (xhr) {
                                console.log(xhr.message);

                            }
                        })

                    })

                    $('.book').on('click', function () {
                        var status = $(this).data('status');
                        var id = $(this).data('id');
                        $.ajax({
                            url: 'http://localhost:8888/api/table/return/' + id,
                            type: 'PUT',
                            headers: { "Authorization": header_string },
                            success: function (data) {
                                if (data.code == 1000) {
                                    alert('Successfully')
                                    location.reload();
                                } else {
                                    $('#danger').html(data.message);
                                    $('#danger').show();

                                }

                            }
                        });
                    })
                }

            },
            error: function (xhr) {
                console.log(xhr.message);

            }
        });
        
    });
</script>
