@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form role="form">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Email" name="email" type="email" autofocus="" id="email">
            <span id="email-error" style="color: red"></span>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Username" name="username" type="text" autofocus="" id="username">
            <span id="username-error" style="color: red"></span>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" id="password">
            <span id="password-error" style="color: red"></span>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Confrim password"  type="password" id="c_password">
            <span id="c_password-error" style="color: red"></span>
        </div>
       
        <a href="javascript:void(0)" id="login" class="btn btn-primary">Register</a>
    </fieldset>
</form>

<script type="text/javascript">
    function validate() {
        var email = $('#email').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var c_password = $('#c_password').val();

        var error = '';
        if (email == '') {
            error = "Please input email";
            $('#email-error').html(error);
            return false;

        }

        if (username == '') {
            error = "Please input username";
            $('#username-error').html(error);
            return false;

        }
        if (password == '') {
            error = "Please input password";
            $('#password-error').html(error);
            return false;

        }
        if (c_password == '') {
            error = "Please confirm password";
            $('#c_password-error').html(error);
            return false;

        }
        if (c_password != password) {
            error = "Password not match";
            $('#c_password-error').html(error);
            return false;

        }
        return true;

    }
    $('#login').on('click', function () {
        if (!validate()) {
            return;

        }
        $('wait').show();
        var username = $('#username').val();
        var password = $('#password').val();
        var email = $('#email').val();
        $.ajax({
            url: 'http://localhost:8888/api/user/register',
            type: 'POST',
            data: { Email: email, Username: username, Password: password },
            success: function (data) {
                if (data.code == 1000) {
                    localStorage.setItem("token", data.data.access_token);
                    localStorage.setItem("expried", data.data.expires_in);
                    localStorage.setItem("login_time", $.now());

                    window.location = "http://localhost:8888/login"
                } else {
                    $('#error').html(data.message);
                    $('#error').show();
                }

            },
            error: function (xhr) {
                console.log(xhr.message);
            }

        })
    });
</script>