<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">   
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading"><span>@ViewBag.Title</span> <span style="display: none; float:right; font-size:12px" id="wait">Wait a moment ...</span></div>
                <div class="panel-body">
                    <div class="alert alert-danger" style="display: none" id="error"></div>
                    @RenderBody()                                 
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->


    
    <script src="~/js/bootstrap.min.js"></script>   
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () { $('#error').hide()}, 3000)

        })
    </script>
    <script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
    </script>
</body>

</html>
